In [9]:
# DataSet tipo .CSV
# df = DataFrame
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/romulodf-cesar/datasets_senac/refs/heads/main/tracking.csv')

In [10]:
df.head()

   inicial  palestras  contato  comprou  patrocinio
0        1          1        0        0           0
1        1          1        0        0           0
2        1          1        0        0           0
3        1          1        0        0           0
4        1          1        0        0           0

In [11]:
df.tail()

    inicial  palestras  contato  comprou  patrocinio
94        0          0        1        0           0
95        1          1        1        1           0
96        0          0        1        0           0
97        0          1        0        0           0
98        0          0        0        0           0

In [12]:
# Fazendo uma estimativa da coluna comprou
# Flitro da coluna comprou
y = df['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [13]:
# Separando comprou da colunas
x = df[["inicial", "palestras", "contato", "patrocinio"]]
x.head()

   inicial  palestras  contato  patrocinio
0        1          1        0           0
1        1          1        0           0
2        1          1        0           0
3        1          1        0           0
4        1          1        0           0

In [14]:
# vamos separar quem é treino e quem é teste

treino_x = x[:75] # os primeiros 75 elemnetos
treino_y = y[:75] 

teste_x = x[75:] # a partir do 75
teste_y = y[75:]

In [15]:
# "len" mostra o tamanho da lista 
print(f"treinaremos com {len(treino_x)} elementos")
print(f"testaremos com {len(teste_x)} elementos")

treinaremos com 75 elementos
testaremos com 24 elementos

In [16]:
# vamos treinar o modelo
from sklearn.svm import LinearSVC
modelo = LinearSVC()
# aqui eu vou treinar o modelo
modelo.fit(treino_x,treino_y)
# aqui eu vou fazer as previsoes
# o model
previsoes = modelo.predict(teste_x)

In [ ]:
#a
from sklearn.metrics import accuracy_score

acuracia = accuracy_score(teste_y, previsoes)


print(f"A acurácia foi de {acuracia:.2f}%")

A acurácia foi de 0.96%